<div class="row">
  <div class="card fontTypeSmall">
    <div class="picture">
      <img src="blogpicture_transparent.png" />
    </div>
    <div class="firstSide">
      <div class="cardContent">
        <h2>BLOG</h2>
        <p>
          Writing your blog allows you to connect with like-minded individuals,
          inspire others, and make a meaningful impact. Submit your articles,
          engage with readers, and be a part of the conversation. Start writing
          and sharing with us now
        </p>
        <div class="arrowButton" routerLink="/blog" routerLinkActive="active">
          <p class="buttonTitle">Start Writing</p>
          <a class="material-symbols-outlined"> arrow_forward_ios</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card fontTypeSmall">
    <div class="picture">
      <img src="forumicon.png" style="margin-bottom: -30px" />
    </div>
    <div class="secondSide">
      <div class="cardContent">
        <h2>FORUM</h2>
        <p>
          This is your space to connect with others, asking your questions and
          engage in meaningful discussions on topics that matter to you. Whether
          you have a question, want to share your knowledge, or simply want to
          chat with like-minded individuals, our forum is the perfect place to
          do so.
        </p>
        <div
          class="arrowButton"
          routerLink="/content"
          routerLinkActive="active"
        >
          <p class="buttonTitle">Go To Forum Page</p>
          <a class="material-symbols-outlined"> arrow_forward_ios</a>
        </div>
      </div>
    </div>
  </div>
</div>
