.snackbar {
  background-color: rgb(80, 76, 76);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  padding: 13px 20px;
  position: fixed;
  bottom: 69px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 7px;
  box-shadow: rgb(0, 0, 0) 0px 0px 9px -4px;
  transition: opacity 0.3s ease;
  font-size: 15px;
  color: #f4f4f4;
  font-weight: 300;
}

.snackbar.ng-trigger {
  opacity: 1;
}

.close-btn {
  background: none;
  border: none;
  color: rgb(223, 28, 113);
  font-size: 17px;
  cursor: pointer;
}

.close-btn:hover {
  border-bottom: 1px solid black;
}
