.homeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.btnHomeDiv {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeLogin {
  margin-right: 20px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  color: rgb(254, 246, 237);
  padding: 15px 20px;
  transition: 2s;
  width: 150px;
  box-shadow: rgb(0, 0, 0) 0px 0px 13px -4px;
  border-radius: 10px;
  background: rgb(223, 28, 113);
  font-weight: 400 !important;
}
.homeSignin {
  cursor: pointer;
  border: none;
  font-size: 14px;
  color: rgb(254, 246, 237);
  padding: 15px 20px;
  transition: 2s;
  width: 150px;
  box-shadow: rgb(0, 0, 0) 0px 0px 13px -4px;
  border-radius: 10px;
  background: rgb(223, 28, 113);
  font-weight: 400 !important;
}

.homeLogin:hover,
.homeSignin:hover {
  transform: 1s;
  box-shadow: rgb(0, 0, 0) 0px 0px 13px 1px;
  background: rgb(218, 25, 109);
  transform: translateY(-5px);
}
